<div class="col-xs-6 col-md-4">
  <h4 class="username-profile"><%=user.username%></h4>
   <div class="profile-picture">
     <img src="<%=user.picPath%>" alt="...">
   </div>
   <div class="caption">
     <h6><%=user.name%></h6>
     <h6><%=user.surname%></h6>
     <h6><%=user.address%></h6>
     <h6><%=user.email%></h6>
     <h6><%=user.phone%></h6>
     <br>
     <br>
     <button type="button" name="button"><a href="/profile-form" class="update-profile" role="button">Update profile</a></button>
   </div>
 </div>

 <div class="col-xs-12 col-md-8">
   <% if (items.length > 0){ %>
     <div class="container-fluid">
       <div class="row">

   <%    for (let i = 0; i < items.length; ++i){  %>
   <%      let item = items[i];                   %>
           <div class="media">
              <div class="media-left">
                <a href="/item/<%=item.id%>">
                  <img class="media-object" src="<%=item.picPath%>" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%=item.name%></h4>
              </div>
          </div>
   <%    }                                          %>
       </div>
     </div>
   <% }                                              %>
 </div>
