<h2>Trade Details</h2>
<% let myThings = [];  %>
<% let theirThings = [];  %>
<% let theirId = trade.user1._id;  %>
<% if (trade.user1._id.equals(userId)){  %>
<%  myThings = trade.items1;  %>
<%  theirThings = trade.items2;  %>
<%  theirId = trade.user2._id   %>
<% } else {  %>
<%  myThings = trade.items2;  %>
<%  theirThings = trade.items1;  %>
<% }  %>
<div class="container-fluid">
  <div class="row">
    <h3>Things I'm offering: </h3>
  </div>
  <div class="row">
<%    myThings.forEach((item) => {  %>
      <div class="col-xs-4 col-sm-3 col-md-2 item-col">
        <div class="thumbnail">
          <img src="<%=item.picPath%>" alt="...">
          <div class="caption">
            <h3><%=item.name%></h3>
            <button class="remove-item" value="<%=item._id%>">Remove</button>
          </div>
        </div>
      </div>
<%    });  %>
<%      if (myThings.length === 0){  %>
        <p>They haven't chosen anything they like yet.</p>
<%      }                            %>
  </div>
  <div class="trade-separator">
  </div>
  <div class="row">
    <h3>Things I want: </h3>
  </div>
  <div class="row">
<%    theirThings.forEach((item) => {  %>
      <div class="col-xs-4 col-sm-3 col-md-2 item-col">
        <div class="thumbnail">
          <img src="<%=item.picPath%>" alt="...">
          <div class="caption">
            <h3><%=item.name%></h3>
            <button class="remove-item" value="<%=item._id%>">Remove</button>
          </div>
        </div>
      </div>
<%    });  %>
<a href="/profile/<%=theirId%>">
<div class="col-xs-4 col-sm-3 col-md-2 item-col">
  <div class="thumbnail">
    <img src="http://www.clipartbest.com/cliparts/4T9/zBp/4T9zBpp8c.png" alt="...">
    <div class="caption">
      <h3>Add Item</h3>
    </div>
  </div>
</div>
</a>
  </div>
  <div id="trade-details-button-row" class="row">
<% if ( (trade.user1._id.equals(userId) && trade.user2Accepted) || (trade.user2._id.equals(userId) && trade.user1Accepted) ){  %>
      <p><a href="/complete/<%=trade._id%>" id="complete-trade-btn" class="btn btn-primary" role="button">Complete Trade</a></p>
<%    } else {      %>
      <p><a href="/negotiate/<%=trade._id%>" id="negotiate-trade-btn" class="btn btn-primary" role="button">Negotiate Trade</a></p>
<%    }  %>
  </div>
</div>

<%- contentFor('endScripts') %>
<script>
  var trade = <%-JSON.stringify(trade)%>;
</script>
<script src="/javascripts/tradeDetails.js"></script>
